.Header {
  width: 100%;
  height: 80px;

  background: #b2ebf2;
  color: #00a8ff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Header svg {
  font-size: 44px;
  cursor: pointer;
  transition: 1s;
}

.Header svg :hover {
  color: #48dbfb;
}
